/* Transitions originally inspired by those from jQtouch, nice work, folks */
.ui-mobile-viewport-transitioning,
/*.ui-mobile-viewport-transitioning .ui-page,*/
.container-animating {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
}
.container-animating .pull {
    visibility: hidden;
}

.container-animating .ui-header-fixed {
    position: absolute;
}
.repaint {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.positioning {
    position: absolute;
    top: 0;
}
.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
}
.out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 225ms;
}

@-webkit-keyframes paraslideouttoleft {
    from { -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0); }
    to { -webkit-transform: translate3d(-30%,0,0) scale3d(0.9, 0.9, 1.0); }
}

@-webkit-keyframes paraslideinfromright {
    from { -webkit-transform: translate3d(100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}

@-webkit-keyframes paraslideinfromleft {
    from { -webkit-transform: translate3d(-30%,0,0) scale3d(0.9, 0.9, 1.0); }
    to { -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0); }
}

@-webkit-keyframes paraslideouttoright {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(100%,0,0); }
}

.ui-mobile-viewport-transitioning .paraslide.out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 275ms;
    -webkit-transform: translate3d(-30%,0,0) scale3d(0.9, 0.9, 1.0);
    -webkit-animation-name: paraslideouttoleft;
    z-index: 99;
    box-shadow: 0px 0px 0px 0px transparent;
    border-left: 0px solid transparent;
}

.ui-mobile-viewport-transitioning .paraslide.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 275ms;
    -webkit-transform: translate3d(0,0,0);
    -webkit-animation-name: paraslideinfromright;
    z-index: 100;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.ui-mobile-viewport-transitioning .paraslide.out.reverse {
    -webkit-transform: translate3d(100%,0,0);
    -webkit-animation-name: paraslideouttoright;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    z-index: 100;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.ui-mobile-viewport-transitioning .paraslide.in.reverse {
    -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0);
    -webkit-animation-name: paraslideinfromleft;
    z-index: 99;
    box-shadow: 0px 0px 0px 0px transparent;
    border-left: 0px solid transparent;
}

/* footer specific @TODO failover android < 4 */

.footer-transitioning {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: .5s;
    -webkit-transition-delay: 0s;
    -webkit-transform: translateY(0) translateZ(0);
}

.ui-footer-fixed.hide {
    -webkit-transform: translateY(60px) translateZ(0);
}

/* slide up/down for login */

.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page-active {
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .5s;
    -webkit-transition-delay: 0s;
    background-color: #ddd;
}

@-webkit-keyframes upslideouttodown {
    from { -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0); }
    to { -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0); }
}

@-webkit-keyframes upslideintoup {
    from { -webkit-transform: translate3d(0,100%,0) scale3d(1.0, 1.0, 1.0); }
    to { -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0); }
}

.ui-mobile-viewport-transitioning .upslide.out {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 500ms;
    -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0);
    -webkit-animation-name: upslideouttodown;
    z-index: 99;
    box-shadow: 0px 0px 0px 0px transparent;
    border-top: 0px solid transparent;
}

/* http://matthewlein.com/ceaser/ */

.ui-mobile-viewport-transitioning .upslide.in {
    -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* ease-in */
    -webkit-animation-duration: 500ms;
    -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0);
    -webkit-animation-name: upslideintoup;
    z-index: 100;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes upslideindowntoup {
    from { -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0); }
    to { -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0); }
}

@-webkit-keyframes upslideoutuptodown {
    from { -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0); }
    to { -webkit-transform: translate3d(0,100%,0) scale3d(1.0, 1.0, 1.0); }
}

.ui-mobile-viewport-transitioning .upslide.in.reverse {
    -webkit-animation-timing-function: cubic-bezier(0.965, 0.005, 0.435, 0.980); /* ease-out */
    -webkit-animation-duration: 500ms;
    -webkit-transform: translate3d(0,0,0) scale3d(1.0, 1.0, 1.0);
    -webkit-animation-name: upslideindowntoup;
    z-index: 99;
    box-shadow: 0px 0px 0px 0px transparent;
    border-top: 0px solid transparent;
}

/* http://matthewlein.com/ceaser/ */

.ui-mobile-viewport-transitioning .upslide.out.reverse {
    -webkit-animation-timing-function: cubic-bezier(0.965, 0.005, 0.435, 0.980); /* ease-in */
    -webkit-animation-duration: 500ms;
    -webkit-transform: translate3d(0,100%,0) scale3d(1.0, 1.0, 1.0);
    -webkit-animation-name: upslideoutuptodown;
    z-index: 100;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}