@mei-base-color: #3498DB;//#27cdc0;
@neutral-base-color: #fbfbfb;
@input-height: 34px;
@placeholder-color: #b3b3b3;
@radius: 3px;
@d-base-color: #C1392B;
@g-base-color: #2ECC71;
@c-base-color: #F2F2F2;

.ui-popup {
    border-radius: @radius;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

.ui-popup .ui-corner-top {
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}

.ui-popup .ui-corner-bottom {
    border-radius: @radius;
}

.ui-bar-d {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid darken(desaturate(@d-base-color, 10%), 6%);
    background: -webkit-linear-gradient(bottom, desaturate(@d-base-color, 15.5%) 27%, desaturate(@d-base-color, 6%) 64%, @d-base-color 100%);
    color: #fff;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

.ui-bar-g {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid darken(desaturate(@g-base-color, 10%), 6%);
    background: -webkit-linear-gradient(bottom, desaturate(@g-base-color, 15.5%) 27%, desaturate(@g-base-color, 6%) 64%, @g-base-color 100%);
    color: #fff;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

.ui-bar-c.ui-li {
    box-shadow: 0px 0px 0px transparent !important;
    border-bottom: 0px !important;
}

.ui-bar-c {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid darken(desaturate(@c-base-color, 10%), 6%);
    background: -webkit-linear-gradient(bottom, desaturate(@c-base-color, 15.5%) 27%, desaturate(@c-base-color, 6%) 64%, @c-base-color 100%);
    color: #333;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

// btn g
@g-color: #2ECC71;
.ui-btn-g, .ui-btn-up-g {
    background-color: -webkit-linear-gradient(bottom, darken(@g-color, 5%) 27%, @g-color 64%, @g-color 100%);
    border: 1px solid darken(@g-color, 5%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
        inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}

.ui-btn-text {
    font-weight: normal;
}

.ui-li-count.ui-btn-up-g {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: 0px 1px 0px transparent,
        inset 0px 1px 0px 0px transparent;
}
// /btn-g

// btn c
@c-color: #f2f2f2;
.ui-btn-c,
.ui-btn-up-c {
    background-color: -webkit-linear-gradient(bottom, darken(@c-color, 5%) 27%, @c-color 64%, @c-color 100%);
    border: 1px solid darken(@c-color, 5%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
        inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}

.ui-btn-c .ui-btn-text,
.btn-up-c .ui-btn-text {
    color: #333;
}
// /btn-c

// btn d
@d-color: #C1392B;
.ui-btn-d,
.ui-btn-up-d {
    background-color: -webkit-linear-gradient(bottom, darken(@d-color, 5%) 27%, @d-color 64%, @d-color 100%);
    border: 1px solid darken(@d-color, 5%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
        inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}

.ui-btn-c .ui-btn-text,
.btn-up-c .ui-btn-text {
    color: #333;
}
// /btn-d

*::-webkit-input-placeholder {
    color: @placeholder-color;
}

.ui-body-c,
.ui-overlay-c {
    color: #666666;
}

.ui-input-search.ui-body-c {
    box-shadow: inset 0px 1px 2px 0px darken(@neutral-base-color, 3%);
    border: 1px solid darken(@neutral-base-color, 5%);
}

.ui-body-c.ui-input-search.ui-focus {
    border: 1px solid @mei-base-color;
}

.ui-body-c.ui-input-search.ui-focus:after {
    color: @mei-base-color;
    opacity: 1;
}

.ui-btn-corner-all {
    border-radius: @radius;
}