.ui-popup {
  border-radius: 3px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}
.ui-popup .ui-corner-top {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ui-popup .ui-corner-bottom {
  border-radius: 3px;
}
.ui-bar-d {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #9e3a30;
  background: -webkit-linear-gradient(bottom, #af483d 27%, #ba3f32 64%, #c1392b 100%);
  color: #fff;
  font-weight: bold;
  font-family: Lato, sans-serif;
}
.ui-bar-g {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #33a865;
  background: -webkit-linear-gradient(bottom, #41b974 27%, #36c572 64%, #2ecc71 100%);
  color: #fff;
  font-weight: bold;
  font-family: Lato, sans-serif;
}
.ui-bar-c.ui-li {
  box-shadow: 0px 0px 0px transparent !important;
  border-bottom: 0px !important;
}
.ui-bar-c {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #e3e3e3;
  background: -webkit-linear-gradient(bottom, #f2f2f2 27%, #f2f2f2 64%, #f2f2f2 100%);
  color: #333;
  font-weight: bold;
  font-family: Lato, sans-serif;
}
.ui-btn-g,
.ui-btn-up-g {
  background-color: -webkit-linear-gradient(bottom, #29b765 27%, #2ecc71 64%, #2ecc71 100%);
  border: 1px solid #29b765;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
.ui-btn-text {
  font-weight: normal;
}
.ui-li-count.ui-btn-up-g {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: 0px 1px 0px transparent,
        inset 0px 1px 0px 0px transparent;
}
.ui-btn-c,
.ui-btn-up-c {
  background-color: -webkit-linear-gradient(bottom, #e5e5e5 27%, #f2f2f2 64%, #f2f2f2 100%);
  border: 1px solid #e5e5e5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
.ui-btn-c .ui-btn-text,
.btn-up-c .ui-btn-text {
  color: #333;
}
.ui-btn-d,
.ui-btn-up-d {
  background-color: -webkit-linear-gradient(bottom, #ac3326 27%, #c1392b 64%, #c1392b 100%);
  border: 1px solid #ac3326;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
.ui-btn-c .ui-btn-text,
.btn-up-c .ui-btn-text {
  color: #333;
}
*::-webkit-input-placeholder {
  color: #b3b3b3;
}
.ui-body-c,
.ui-overlay-c {
  color: #666666;
}
.ui-input-search.ui-body-c {
  box-shadow: inset 0px 1px 2px 0px #f3f3f3;
  border: 1px solid #eeeeee;
}
.ui-body-c.ui-input-search.ui-focus {
  border: 1px solid #3498db;
}
.ui-body-c.ui-input-search.ui-focus:after {
  color: #3498db;
  opacity: 1;
}
.ui-btn-corner-all {
  border-radius: 3px;
}
