/* ios7 */

div[id^="page-"] .ui-header {
    height: 58px;
}

div[id^="page-"] .ui-header .ui-title {
    margin: 25px 30% .8em;
}

div[id^="page-"] .ui-header .ui-btn {
    top: 18px;
}

#page-newsdetail {
    padding-top: 53px !important;
}

#page-moreabout .ui-header .ui-btn {
    top: 22px;
}

#category-menu {
    top: 65px !important;
}

.ui-dialog-contain {
    margin: 15% auto 15px auto !important;
}

#page-userfavorites {
    padding-top: 60px;
}

#page-userprofile {
    padding-top: 60px;
}

#page-userregister {
    padding-top: 60px;
}

#page-userlogin {
    padding-top: 60px;
}

.slider {
    margin-top: 60px;
}

#page-newssearch {
    padding-top: 60px;
}

#poimap-viewport {
    padding-top: 60px;
}

#page-moreabout {
    padding-top: 60px;
}

.ui-bar-a .simple-btn {
    color: #fff;
}