/* ios7-forms */
.form-row,
.form-text-label,
.button,
.alert-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.top-bar-link:before,
.bottom-bar-link:before,
.search-bar:before,
.menu-top-list-item:before,
.list-link:after,
.list-messsage-title:after,
.form-select-row:after,
.menu-nav-link:before,
.list-row:after,
.form-option-label:before,
.form-row.valid:after,
.form-row.invalid:after,
.button:before,
.action-sheet-icon-link:before {
  font-family: 'elegant-icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.top-bar-link:before,
.bottom-bar-link:before,
.search-bar:before,
.menu-top-list-item:before,
.list-link:after,
.list-messsage-title:after,
.form-select-row:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  text-align: center;
}
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  background: #FFF;
  border: 0;
  border-radius: 0;
}
form {
  margin: -15px;
  font: normal 16px/1.5 "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #000;
  webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
}
.form-title {
  margin: 18px 0 4px;
  padding: 0 12px;
  line-height: 24px;
  font-size: 14px;
  color: #7c7b83;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}
.form-title-row {
  position: relative;
  padding: 0 12px;
  line-height: 27px;
  font-size: 15px;
  font-weight: 500;
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5eb;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.08);
}
.form-row {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 42px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.form-row + .form-row {
  border-top: 1px solid #e5e5eb;
}
fieldset {
  margin-bottom: 20px;
  padding-left: 12px;
  background: #fff;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.08), 0 1px rgba(0, 0, 0, 0.07), 0 1px 1px rgba(0, 0, 0, 0.05);
}
fieldset:last-child {
  margin-bottom: 0;
}
.form-text-row {
  overflow: visible;
}
.form-text-row > .form-hint {
  margin-top: -4px;
}
.form-text-label {
  display: inline-block;
  vertical-align: top;
  max-width: 30%;
  line-height: 42px;
  padding-right: 12px;
  overflow: hidden;
  white-space: nowrap;
  color: #7c7b83;
  text-overflow: ellipsis;
}
.form-text-label + .form-text-input {
  max-width: 70%;
}
.form-text-label.width-20 {
  width: 20%;
}
.width-20 + .form-text-input {
  width: 80%;
  max-width: none;
}
.width-20 ~ .form-hint {
  margin-left: 20%;
}
.form-text-label.width-30 {
  width: 30%;
}
.width-30 + .form-text-input {
  width: 70%;
}
.width-30 ~ .form-hint {
  margin-left: 30%;
}
.form-text-label.width-40 {
  width: 40%;
  max-width: none;
}
.width-40 + .form-text-input {
  width: 60%;
}
.width-40 ~ .form-hint {
  margin-left: 40%;
}
.form-text-label.width-50 {
  width: 50%;
  max-width: none;
}
.width-50 + .form-text-input {
  width: 50%;
}
.width-50 ~ .form-hint {
  margin-left: 50%;
}
.form-text-label-black {
  color: #000000;
}
.form-text-input {
  width: 100%;
  height: 42px;
  padding-right: 12px;
}
.form-text-textarea {
  width: 100%;
  height: 82px;
  line-height: 22px;
  padding: 8px 12px 8px 0;
}
.form-select-row:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 42px;
  background: white;
  pointer-events: none;
}
.form-select-row:after {
  content: "\33";
  right: 10px;
  font-size: 24px;
  pointer-events: none;
}
.form-select-input {
  width: 100%;
  height: 42px;
  background-color: transparent;
  -webkit-appearance: none;
}
.form-select-input::-ms-expand {
  display: none;
}
.form-option-input {
  position: absolute;
  left: 0;
}
.form-option-label {
  position: relative;
  display: block;
  padding-left: 32px;
  background: #ffffff;
}
.form-option-label:before {
  position: absolute;
  top: 9px;
  left: 0;
  font-size: 24px;
  color: #2087fc;
}
.form-option-input:checked + .form-option-label {
  font-weight: 500;
  color: #2087fc;
}
.form-option-input:checked + .form-option-label:before {
  content: "\4e";
}
.form-option-alt > .form-option-label {
  padding: 0 42px 0 0;
}
.form-option-alt > .form-option-label:before {
  left: auto;
  right: 12px;
}
.form-switch-row > .switch {
  float: right;
  margin: 7px 12px 0 12px;
}
.form-submit {
  padding: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.08), 0 1px rgba(0, 0, 0, 0.07), 0 1px 1px rgba(0, 0, 0, 0.05);
}
.form-submit > .button {
  float: left;
  width: 40%;
  width: -webkit-calc(44%);
  width: calc(44%);
}
.form-submit > .button + .button {
  float: right;
}
.form-submit > .button:only-child {
  float: none;
  width: 100%;
}
fieldset > .form-submit {
  margin-left: -12px;
  border-top: 1px solid #e5e5eb;
  box-shadow: none;
}
.form-row.valid:after,
.form-row.invalid:after {
  position: absolute;
  top: 9px;
  right: 10px;
  font-size: 24px;
}
.form-row.valid > input,
.form-row.valid > select,
.form-row.invalid > input,
.form-row.invalid > select {
  padding-right: 42px;
}
.form-row.valid > .form-hint,
.form-row.invalid > .form-hint {
  font-weight: 500;
}
.form-row.valid:after {
  content: "\52";
  color: #46ca5e;
}
.form-row.valid > .form-hint {
  color: #3bb34b;
}
.form-row.invalid:after {
  content: "\72";
  color: #fd3c31;
}
.form-row.invalid > .form-hint {
  color: #d8332a;
}
.form-hint {
  display: block;
  line-height: 24px;
  padding-bottom: 8px;
  white-space: normal;
  font-size: 14px;
  color: #7c7b83;
}
.form-row + .form-hint {
  border-bottom: 1px solid #e5e5eb;
}
.form-row + .form-hint:last-child {
  border-bottom: 0;
}
.switch {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 56px;
  height: 28px;
  background: #fafafa;
  border-radius: 15px;
  box-shadow: inset 0 0 0 1px #e5e5e5;
  left: 1px;
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}
.switch-label:before {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: inherit;
  width: 26px;
  background: white;
  border-radius: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
}
.switch-input:checked + .switch-label {
  background: #46ca5e;
  box-shadow: none;
  left: 29px;
}
