@mei-base-color: #3498DB;//#27cdc0;
@about-base-color: #2C3E50;

@collapsible-base-color: #f8f8f8;


.ui-bar-f {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid darken(desaturate(@mei-base-color, 10%), 6%);
    background: -webkit-linear-gradient(bottom, desaturate(@mei-base-color, 15.5%) 27%, desaturate(@mei-base-color, 6%) 64%, @mei-base-color 100%);//@mei-base-color;
    color: #fff;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

.ui-bar-a {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid darken(desaturate(@about-base-color, 10%), 6%);
    background: -webkit-linear-gradient(bottom, desaturate(@about-base-color, 15.5%) 27%, desaturate(@about-base-color, 6%) 64%, @about-base-color 100%);//@about-base-color;
    color: #fff;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

// collapsible
.ui-collapsible .ui-btn-up-light-gray {
    //background: -webkit-linear-gradient(darken(@collapsible-base-color, 3%), lighten(@collapsible-base-color, 2%));
    background: -webkit-linear-gradient(lighten(@collapsible-base-color, 2%), darken(@collapsible-base-color, 3%));
    border: 0px solid #fff;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.5),
        0px -1px 0px darken(@collapsible-base-color, 5%),
        0px 1px 0px darken(@collapsible-base-color, 5%);
}

.ui-icon-clock:before,
.ui-icon-calendar:before,
.ui-icon-map:before,
.ui-btn-up-light-gray,
.ui-btn-up-light-gray:visited,
.ui-btn-up-light-gray a.ui-link-inherit {
    color: #555;//#333;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}
// /collapsible

.ui-bar-f .simple-btn,
.ui-bar-f .simple-btn-large,
.ui-bar-a .simple-btn {
    opacity: 1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    color: #fff;
    background: transparent;
    border: 0px;
}

.ui-bar-f.ui-header .ui-title {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.ui-btn-up-neutral.ui-btn-active {
    background: transparent;
    border: 0px;
    color: darken(@mei-base-color, 10%);
}

.ui-btn-up-neutral.ui-btn-active .ui-btn-text {
    color: darken(@mei-base-color, 10%);
}

.ui-btn-up-neutral.ui-btn-active .icon {
    color: darken(@mei-base-color, 10%);
}

.ui-bar-f .ui-link-inherit{color:#3e3e3e}
.ui-bar-f a.ui-link{color:#7cc4e7;font-weight:bold;}
.ui-bar-f a.ui-link:visited{color:#2489ce}
.ui-bar-f a.ui-link:hover{color:#2489ce}
.ui-bar-f a.ui-link:active{color:#2489ce}
.ui-bar-f input,.ui-bar-f select,.ui-bar-f textarea,.ui-bar-f button{font-family:Lato,sans-serif}
.ui-body-f,.ui-overlay-f{border:2px solid #3498db;color:#34495e;background:#fff;background-image:none}
.ui-body-f{font-family:Lato,sans-serif;}
.ui-body-f input,.ui-body-f select,.ui-body-f textarea,.ui-body-f button{font-family:Lato,sans-serif}
.ui-body-f .ui-link-inherit{color:#333}
.ui-body-f .ui-link{color:#3498db;font-weight:bold;}
.ui-body-f .ui-link:visited,.ui-body-f .ui-link:hover,.ui-body-f .ui-link:active{color:#5dade2}
.ui-body-f.ui-input-text{border:2px solid #eee;}
.ui-body-f.ui-input-text.ui-focus{border:2px solid #5dade2;-webkit-transition:border linear .2s;-moz-transition:border linear .2s;-o-transition:border linear .2s;transition:border linear .2s}
.ui-btn-up-f{border:1px solid #3498db;background:#3498db;font-weight:bold;color:#fff;}
.ui-btn-up-f:visited,.ui-btn-up-f a.ui-link-inherit{color:#fff}
.ui-btn-hover-f{border:1px solid #5dade2;background:#5dade2;font-weight:bold;color:#fff;}
.ui-btn-hover-f:visited,.ui-btn-hover-f:hover,.ui-btn-hover-f a.ui-link-inherit{color:#fff}
.ui-btn-down-f{border:1px solid #5dade2;background:#5dade2;font-weight:bold;color:#fff;}
.ui-btn-down-f:visited,.ui-btn-down-f:hover,.ui-btn-down-f a.ui-link-inherit{color:#fff}
.ui-btn-up-f,.ui-btn-hover-f,.ui-btn-down-f{font-family:Lato,sans-serif;text-decoration:none}
.ui-bar-f .ui-btn-up-a,.ui-bar-f .ui-btn-down-a,.ui-bar-f .ui-btn-hover-a{background-color:#3498db;border:1px solid #3498db}