@neutral-base-color: #fbfbfb;
@neutral-icon-size: 48px;

.ui-bar-neutral {
    // bordure blanche inner
    border-top: 1px solid #fff;//darken(@neutral-base-color, 15%);

    //background: -webkit-linear-gradient(bottom, darken(@neutral-base-color, 5%) 27%, @neutral-base-color 64%, @neutral-base-color 100%);//@neutral-base-color;
    background-image: -webkit-linear-gradient(bottom, darken(@neutral-base-color, 5%), @neutral-base-color);
    background-color: @neutral-base-color;
    color: darken(@neutral-base-color, 25%);
    font-weight: bold;
    font-family: HelveticaNeue,SegoeWP,SegoeUI,Roboto,sans-serif;

    // bordure remplacant le border-top classique puis ombre
    box-shadow: 0px -1px 0px darken(@neutral-base-color, 15%), 0px -2px 3px rgba(0, 0, 0, 0.1);
}

.ui-footer-fixed.ui-bar-neutral {
    bottom: -1px;
}

.ui-bar-neutral .simple-btn,
.ui-bar-neutral .simple-btn-large {
    opacity: 1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    color: #fff;
    background: transparent;
    border: 0px;
}

.ui-bar-neutral.ui-header .ui-title {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.ui-bar-neutral .ui-link-inherit{color:#3e3e3e}
.ui-bar-neutral a.ui-link{color:#7cc4e7;font-weight:bold;}
.ui-bar-neutral a.ui-link:visited{color:#2489ce}
.ui-bar-neutral a.ui-link:hover{color:#2489ce}
.ui-bar-neutral a.ui-link:active{color:#2489ce}
.ui-bar-neutral input,.ui-bar-neutral select,.ui-bar-neutral textarea,.ui-bar-neutral button{font-family:Lato,sans-serif}
.ui-body-neutral,.ui-overlay-neutral{border:2px solid #3498db;color:#34495e;background:#fff;background-image:none}
.ui-body-neutral{font-family:HelveticaNeue,SegoeWP,SegoeUI,Roboto,sans-serif;}
.ui-body-neutral input,.ui-body-neutral select,.ui-body-neutral textarea,.ui-body-neutral button{font-family:Lato,sans-serif}
.ui-body-neutral .ui-link-inherit{color:#333}
.ui-body-neutral .ui-link{color:#3498db;font-weight:bold;}
.ui-body-neutral .ui-link:visited,.ui-body-neutral .ui-link:hover,.ui-body-neutral .ui-link:active{color:#5dade2}
.ui-body-neutral.ui-input-text{border:2px solid #eee;}
.ui-body-neutral.ui-input-text.ui-focus{border:2px solid #5dade2;-webkit-transition:border linear .2s;-moz-transition:border linear .2s;-o-transition:border linear .2s;transition:border linear .2s}

.ui-btn-up-neutral .icon {
    width: 100%;
    height: @neutral-icon-size;
    line-height: @neutral-icon-size;
    color: darken(@neutral-base-color, 20%);
    font-size: @neutral-icon-size;
    position: absolute;
    top: -8px;
    left: 0px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.ui-btn-up-neutral {
    font-weight: normal;
    color: darken(@neutral-base-color, 35%);
}

.ui-btn-up-neutral.ui-btn-icon-top .ui-btn-text {
    top: 0px;
    font-size: 9pt;
}

.ui-footer {
    height: 49px;
}

.ui-btn-up-neutral:visited,.ui-btn-up-neutral a.ui-link-inherit{color:#fff}

.ui-btn-hover-neutral{border:1px solid #5dade2;background:#5dade2;font-weight:bold;color:#fff;}
.ui-btn-hover-neutral:visited,.ui-btn-hover-neutral:hover,.ui-btn-hover-neutral a.ui-link-inherit{color:#fff}
.ui-btn-down-neutral{border:1px solid #5dade2;background:#5dade2;font-weight:bold;color:#fff;}
.ui-btn-down-neutral:visited,.ui-btn-down-neutral:hover,.ui-btn-down-neutral a.ui-link-inherit{color:#fff}
.ui-btn-up-neutral,.ui-btn-hover-neutral,.ui-btn-down-neutral{font-family:HelveticaNeue,SegoeWP,SegoeUI,Roboto,sans-serif;text-decoration:none}

.ui-bar-neutral .ui-btn-up-neutral,
.ui-bar-neutral .ui-btn-down-neutral,
.ui-bar-neutral .ui-btn-hover-neutral {
    xbackground-color: #3498db;
    xborder: 1px solid #3498db;
}