/* news */

@news-padding-sides: 25px;
@news-background-color: #fff;
@news-item-height: 60px;
@news-title-font-size: 15px;
@news-date-font-size: 13px;
@news-content-font-size: 13px;
@news-title-color: #18181A;
@news-date-color: lighten(@news-title-color, 70%);
@news-content-color: lighten(@news-title-color, 30%);
@news-detail-date-font-size: 12px;
@news-detail-title-font-size: 20px;
@news-detail-content-font-size: 17px;

@red: #E74C3C;//#C0392B;
@blue: #2980B9;
@orange: #F39C12;
@yellow: #27AE60;//now is green #F1C40F;

.ui-header .ui-title {
    font-size: 18px;
}

.news-listing-empty {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.news-detail p img,
.news-detail span img {
    text-align: center;
}

.news-detail img {
    max-width: 100%;
    margin: 0px auto !important;
}

.news-listing-empty .icon {
    font-size: 280px;
    line-height: 200px;
    text-align: center;
    width: 100%;
    color: #eee;
}

.news-listing-empty .message {
    width: 100%;
    display: block;
    text-align: center;
    font-style: italic;
    color: #ddd;
    font-size: 23px;
}

.news-detail-map-image {
    max-width: 400px;
    width: 100%;
    height: 200px;
    margin: 5px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid darken(@news-background-color, 10%);
}

/* BEFORE
.news-image-thumb {
    width: 60px;
    height: 60px;
    margin: 1px 20px 0 0;
    border: 1px solid darken(@news-background-color, 10%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    float: left;
}
*/
.news-image-thumb {
    width: 120px;
    height: 72px;
    margin: 1px 15px 0 0;
    border-radius: 3px;
    //border: 1px solid darken(@news-background-color, 10%);
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    float: left;
}

li.ui-btn-up-w {
    border-top: 0.1em solid #e0e0df;
}

.ui-footer {
    xopacity: 0.95;
}

.news-item-band-color {
    x-webkit-transform: rotate3d(0, 0, 1, -45deg);
    x-webkit-font-smoothing: antialiased;
    x-webkit-backface-visibility: hidden;
    width: 70px;
    position: absolute;
    top: 53px;
    right: -30px;
    overflow: hidden;
    padding-left: 20px;
    height: 22px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-header-arrow {
    font-size: 26px;
    display: inline-block;
    padding-left: 3px;
}

.pastille {
    display: inline-block;
    font-size: 24px;
    padding-right: 10px;
    opacity: 0.8;
}

// <favorites>
.is-fav {
    opacity: 1;
    color: #fff;
}
// </favorites>

// <category>
.categorylist .list-item {
    //font-family: Lato, sans-serif;
    font-family:HelveticaNeue,SegoeWP,SegoeUI,Roboto,sans-serif;
}

.categorylist .list-item:last-child {
    border: 0px;
}

.pastille-red {
    color: @red;
}

.pastille-blue {
    color: @blue;
}

.pastille-orange {
    color: @orange;
}

.pastille-yellow {
    color: @yellow;
}
// </category>

.news-item-arrow {
    color: #bbb;
    font-size: 44px;
}

.news-item-favorite {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 13px;
    font-size: 28px;
    line-height: 18px;
    margin-top: -32px;

    color: #bbb;
}

/* BEFORE
.news-item-color {
    //clear: both;
    width: 10px;
    height: 100%;
    position: absolute;
    left: 0;
    //margin-top: -1px;
    display: inline-block;
    //float: left;
    z-index: 1;
    border-bottom: 1px solid #fff !important;
}
*/

.news-item-color {
    width: 20px;
    height: 40px;
    position: absolute;
    right: 20px;
    display: inline-block;
    z-index: 0;
    top: 0px;
    overflow: hidden;
    line-height: 20px;
}

.news-item-color:before {
    content: "🔖";
    font-family: "icons";
    font-size: 70px;
    font-weight: normal;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

@news-item-color-opacity: .8;

/* BEFORE
.news-item-red {
    background: @red;
}
*/

.news-item-red:before {
    color: @red;
}

.news-item-blue:before {
    color: @blue;
}

.news-item-orange:before {
    color: @orange;
}

.news-item-yellow:before {
    color: @yellow;
}

/* news detail */

.news-detail-back-btn {
    border: 0px !important;
}

.news-detail-back-btn .btn-inner {
    border: 0px !important;
}

.news-detail {
    padding: 0 0 10px 0;

    /* avoid x scrolling */
    word-wrap: break-word;
}

.news-detail-date {
    font-size: @news-detail-date-font-size;
    color: #bbb;
}

.news-detail-title {
    font-size: @news-detail-title-font-size;
    color: #000;
    font-weight: 600;
    clear: both;
}

.news-detail-medias-grid {
    max-width: 400px;
    margin: 0 auto;
}

.news-detail-medias {
    width: 100%;
    height: 80px;
    border: 2px solid #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.news-detail-image-separator {
    width: 70%;
    margin: 15px auto;
    color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px 0 0 0;
}

.news-detail-content {
    font-size: @news-detail-content-font-size;
    color: #333;
}