/* new flatui ui */

@ui-base-color: #fdfdfd;

@ui-name: cleanlist;
@ui-text-color: darken(@ui-base-color, 30%);//#34495e;
@ui-link-visited-text-color: darken(@ui-base-color, 20%);//#34495e;
@ui-font-family: HelveticaNeue,SegoeWP,SegoeUI,Roboto,sans-serif;//Lato, sans-serif;

@ui-btn-up-background-color: @ui-base-color;
@ui-btn-up-border-color: @ui-base-color;
@ui-btn-up-text-color: #34495e;//darken(@ui-base-color, 30%);//#34495e;
@ui-btn-up-border: 1px solid darken(@ui-btn-up-border-color, 8%);

@ui-list-desc-text-color: #ccc;
@ui-list-border-color: darken(@ui-base-color, 8%);//rgb(223, 224, 224);

.newui (@name) {

    .ui-bar-@{name} {
        border: 1px solid @ui-btn-up-border-color;
        background: @ui-btn-up-background-color;
        color: @ui-btn-up-text-color;
        font-weight: bold;
        font-family: @ui-font-family;
    }

    .ui-bar-@{name} .ui-link-inherit {
        color: #3e3e3e;
    }

    .ui-bar-@{name} a.ui-link {
        color: #7cc4e7;
        font-weight: bold;
    }

    .ui-bar-@{name} a.ui-link:visited {
        color: @ui-link-visited-text-color;
    }

    .ui-bar-@{name} a.ui-link:hover {
        color: @ui-link-visited-text-color;
    }

    .ui-bar-@{name} a.ui-link:active {
        color: @ui-link-visited-text-color;
    }

    .ui-bar-@{name} input,
    .ui-bar-@{name} select,
    .ui-bar-@{name} textarea,
    .ui-bar-@{name} button {
        font-family: @ui-font-family;
    }

    .ui-body-@{name},
    .ui-overlay-@{name} {
        border: 2px solid #2ecc71;
        color: #34495e;
        background: #fff;
        background-image: none;
    }

    .ui-body-@{name} {
        font-family: @ui-font-family;
    }

    .ui-body-@{name} input,
    .ui-body-@{name} select,
    .ui-body-@{name} textarea,
    .ui-body-@{name} button {
        font-family: @ui-font-family;
    }

    .ui-body-@{name} .ui-link-inherit {
        color: #333;
    }

    .ui-body-@{name} .ui-link {
        color: #2ecc71;
        font-weight: bold;
    }

    .ui-body-@{name} .ui-link:visited,
    .ui-body-@{name} .ui-link:hover,
    .ui-body-@{name} .ui-link:active {
        color: #55d98d;
    }

    .ui-body-@{name}.ui-input-text {
        border: 2px solid #eee;
    }

    .ui-body-@{name}.ui-input-text.ui-focus {
        border: 2px solid #55d98d;
        -webkit-transition: border linear .2s;
        -moz-transition: border linear .2s;
        -o-transition: border linear .2s;
        transition:border linear .2s;
    }

    .ui-btn-up-@{name} {
        border: @ui-btn-up-border;
        background: @ui-btn-up-background-color;
        font-weight: bold;
        color: @ui-btn-up-text-color;
        text-decoration: none;
    }

    // <list>
    li.ui-btn-up-@{name} {
        border-bottom-width: 0px;
        border-top: 1px solid @ui-list-border-color;
    }

    li.ui-li-divider.ui-btn-up-@{name}:first-child {
        border-top-width: 0px;
        border-bottom-width: 0px;
    }

    li.ui-btn-up-@{name}:last-child {
        border-top-width: 1px;
        border-bottom-width: 1px;
    }

    .ui-btn-up-@{name} .ui-li-desc {
        color: @ui-list-desc-text-color;
    }
    // </list>

    .ui-btn-up-@{name}:visited,
    .ui-btn-up-@{name} a.ui-link-inherit {
        color: @ui-text-color;
    }

    .ui-btn-hover-@{name} {
        border: 1px solid #55d98d;
        background: #55d98d;
        font-weight: bold;
        color: #fff;
    }

    .ui-btn-hover-@{name}:visited,
    .ui-btn-hover-@{name}:hover,
    .ui-btn-hover-@{name} a.ui-link-inherit {
        color: @ui-text-color;
    }

    .ui-btn-down-@{name} {
        border: 1px solid #55d98d;
        background: #55d98d;
        font-weight: bold;
        color: #fff;
    }

    .ui-btn-down-@{name}:visited,
    .ui-btn-down-@{name}:hover,
    .ui-btn-down-@{name} a.ui-link-inherit {
        color: #fff;
    }

    .ui-btn-up-@{name},
    .ui-btn-hover-@{name},
    .ui-btn-down-@{name} {
        font-family: @ui-font-family;
        text-decoration: none;
    }

    .ui-bar-@{name} .ui-btn-up-@{name},
    .ui-bar-@{name} .ui-btn-down-@{name},
    .ui-bar-@{name} .ui-btn-hover-@{name} {
        background-color: #2ecc71;
        border: 1px solid #2ecc71;
    }

}

.newui(@ui-name);