/* <padding for fixed header> */
.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 69px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#page-home .container {
    margin-top: 50px;
}

#page-newssearch {
    padding-top: 50px;
}

#poimap-viewport {
    padding-top: 50px;
}

#page-newsdetail {
    background: #fff;
}

#page-moreabout {
    padding-top: 50px;
    background: #fff;
}

#page-userfavorites {
    padding-top: 50px;
}

.floatingpanel {
    border-radius: 5px;
}

#page-moremenu .ui-content {
    padding: 10px;
}

#page-footer {
    opacity: 0.95;
}

div[id^="page-"] {
    background: #fff;
    -webkit-backface-visibility: hidden;
}

.list-item:active {
    background: #2D89EC;
}

.list-item:active .ui-li-heading,
.list-item:active .ui-li-desc,
.list-item:active .news-item-arrow {
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.list-item:active .news-item-color:before {
    text-shadow: 1px 1px 0px #fff;
}

#page-moremenu {
    padding-top: 50px;
}

#page-userprofile {
    padding-top: 50px;
    background: #fff;
}

#page-userlogin {
    padding-top: 50px;
    background: #fff;
}

#page-userregister {
    padding-top: 50px;
    background: #fff;
}

#page-moremenu .ui-listview {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
/*
@-webkit-keyframes blurry {
    from {
        -webkit-filter: blur(0px);
    }
    to {
        -webkit-filter: blur(5px);
    }
}
*/
/*.ui-page.blur .ui-header-fixed,*/
.ui-page.blur .ui-content,
.ui-page.blur .ui-footer-fixed {
    -webkit-filter: blur(5px);
    /*
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: blurry;
    -webkit-animation-duration: 300ms;
    -webkit-filter: blur(5px);
    */
}

.ui-page.blur-header .ui-header-fixed {
    -webkit-filter: blur(5px);
}

.news-list-title {
    height: 40px;
    white-space: pre-wrap;
}

.back-btn .icon {
    -webkit-transform: rotate(-90deg);
}

/* <activate gpu> */
.ui-content {
    -webkit-transform: translate(0, 0) translateZ(0);
}
/* <activate gpu> */

/* <collapsible> */
.ui-collapsible-content {
    /*border-bottom: 1px solid #eee;*/
    border-bottom: 0px;
}
/* </collapsible> */

/* <more menu icon> */
.more-menu-icon {
    font-size: 38px;
    top: 0px !important;
    height: 44px !important;
    line-height: 44px !important;
    display: inline-block;
    /* ADDED */
    color: #c1c1c1;
}
/* </more menu icon> */

.flash-warning {
    border: 1px solid #C09853;
}

/* <form> */
.ui-input-search:after {
    font-family: 'icons';
    position: absolute;
    left: 7px;
    top: 50%;
    font-size: 34px;
    line-height: 18px;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    opacity: .3;
}

.ui-icon-clock,
.ui-icon-calendar,
.ui-icon-map {
    margin-top: -8px !important;
    text-shadow: 0 0 0 !important;
    font-weight: normal !important;
}

.ui-icon-clock:before,
.ui-icon-calendar:before,
.ui-icon-map:before {
    color: #34495e;
}

.btn-check {
    font-size: 22px;
    line-height: 14px;
}

.ui-icon-clock:before {
    /*content: "\1F554";*/
    content: "🕔";
    font-family: 'icons';
    font-size: 31px;
}

.ui-icon-calendar:before {
    /*content: "\1F4C5";*/
    content: "📅";
    font-family: 'icons';
    font-size: 31px;
}

.ui-icon-map:before {
    content: "\E728";
    font-family: 'icons';
    font-size: 31px;
}

.ui-icon-userfield:after {
    content: "\E722";
}

.ui-icon-keyfield:after {
    /*content: "\1F511";*/
    content: "🔑";
}

.ui-icon-mailfield:after {
    content: "\2709";
}

.ui-icon-mail2field:after {
    /*content: "\1F53F";*/
    content: "🔿";
}

.ui-icon-companyfield:after {
    /*content: "\1F6C6";*/
    content: "🛆";
}

.ui-icon-rolefield:after {
    /*content: "\1F56A";*/
    content: "🕪";
}

.ui-icon-phonefield:after {
    /*content: "\1F4F1";*/
    content: "📱";
}

.fielderror:before {
    font-family: 'icons';
    position: absolute;
    right: 7px;
    top: 50%;
    font-size: 34px;
    line-height: 18px;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    opacity: .8;
    color: red;
    content: "⚠";
    -webkit-transition: opacity linear 1s;
    -moz-transition: opacity linear 1s;
    -o-transition: opacity linear 1s;
    transition: opacity linear 1s;
}

.fielderror.ui-focus:before {
    opacity: .4;
    -webkit-transition: opacity linear 1s;
    -moz-transition: opacity linear 1s;
    -o-transition: opacity linear 1s;
    transition: opacity linear 1s;
}

.fielderror.ui-focus {
    border: 1px solid rgba(255, 0, 0, 0.8) !important;
    -webkit-transition: border linear 1s;
    -moz-transition: border linear 1s;
    -o-transition: border linear 1s;
    transition: border linear 1s;
}

.ui-input-search:after {
    -webkit-transition: color linear 1s, opacity linear 1s;
    -moz-transition: color linear 1s, opacity linear 1s;
    -o-transition: color linear 1s, opacity linear 1s;
    transition: color linear 1s, opacity linear 1s;
}

.fielderror.ui-focus:after {
    color: red !important;
    opacity: .8;
}

.fielderror {
    border: 1px solid rgba(255, 0, 0, 0.4) !important;
    -webkit-transition: border linear 1s;
    -moz-transition: border linear 1s;
    -o-transition: border linear 1s;
    transition: border linear 1s;
}

.ui-body-c.ui-input-search.ui-focus {
    border:1px solid #3498DB;
    -webkit-transition: border linear .5s;
    -moz-transition: border linear .5s;
    -o-transition: border linear .5s;
    transition: border linear .5s;
}

.ui-br {
    border-width: 0px;
}

.ui-field-contain, fieldset.ui-field-contain {
    padding: 5px 0;
    margin: 0;
    border-width: 0;
    overflow: visible;
}
/* </form> */

/* <separator> */
.separator {
    border-width: 0 0 1px 0;
    border-bottom: 1px dotted #ddd;
    display: block;
    width: 90%;
    height: 1px;
    margin: 15px auto 15px auto;
    padding: 0;
}

.separator-text {
    display: inline-block;
    margin-top: -25px;
    margin-left: -50px;
    padding: 0;
    color: #888;
    position: absolute;
    left: 50%;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    width: 100px;
    text-align: center;
    background: #fff;
}
/* </separator> */

.hidden {
    display: none;
}

.btn-notext .ui-btn-inner {
    padding-left: 11px !important;
}

.simple-btn-mini {
    background: transparent;
    border-color: transparent;
}

.simple-btn {
    background: transparent;
    border-color: transparent;
    opacity: 0.3;
    color: #000;
}

.simple-btn .icon {
    font-size: 60px;
}

.simple-btn-large {
    background: transparent;
    border-color: transparent;
    opacity: 0.3;
    color: #000;
}

.simple-btn-large .icon {
    font-size: 50px;
    margin-left: 5px;
}

.simple-btn-medium {
    background: transparent;
    border-color: transparent;
    opacity: 0.3;
    color: #000;
}

.simple-btn-medium .icon {
    font-size: 40px;
    margin-left: 10px;
}

/* button icon */
.override-btn-icon {
    width: 18px;
    height: 18px;
    font-size: 38px;
    line-height: 38px;
    background: transparent;
}

.override-inline-btn-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    font-size: 34px;
    line-height: 18px;
}

.ui-btn-icon-notext > .ui-btn-inner > .override-inline-btn-icon {
    font-size: 14px;
    left: 0px !important;
}

.ui-mini.ui-btn-icon-left > .ui-btn-inner > .override-inline-btn-icon {
    font-size: 28px;
    left: 5px;
}

.ui-mini.ui-btn-icon-right > .ui-btn-inner > .override-inline-btn-icon {
    font-size: 28px;
    right: 5px;
}

.ui-btn-icon-left > .ui-btn-inner > .override-inline-btn-icon {
    left: 10px;
}

.ui-btn-icon-right > .ui-btn-inner > .override-inline-btn-icon {
    right: 10px;
}

/* header / footer */

.ui-header.ui-bar-f {
    /* without mei background: rgb(48, 143, 208);
    border-color: rgb(48, 143, 208) !important;
    border-bottom-color: rgb(30, 115, 172) !important;*/
    height: 48px;
    line-height: 26px;
}

.ui-header.ui-bar-a {
    height: 48px;
    line-height: 26px;
}

.ui-header.ui-bar-c {
    height: 48px;
    line-height: 26px;
    border-bottom-color: rgb(230, 230, 230) !important;
}

.ui-header.ui-bar-g {
    border-color: darken(#2ECC71, 10%);
}

.ui-footer.ui-bar-f {
    border: 0;
    border-top: 1px solid rgb(30, 115, 172) !important;
    height: 50px;
}

.ui-footer .ui-btn-active {
    border-width: 0px;
    color: #fff;
    /*text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);*/
}

.ui-footer.ui-bar-f .ui-btn {
    color: rgba(0, 0, 0, 0.15);
}

.ui-footer.ui-bar-f .ui-btn-inner {
    height: 48px;
}

.ui-footer.ui-bar-f .ui-btn .icon {
    font-size: 63px;
    line-height: 50px;
    top: -1px;
    left: 50%;
    position: absolute;
    margin-left: -25.5px;
    width: 50px;
    height: 50px;
}

.ui-footer.ui-bar-f .ui-btn-active {
    background: transparent;
    color: #fff;
}