body {
    overflow: hidden;
}

.ui-page {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 10px !important;
}

#page-home .ui-content {
    padding-bottom: 51px;
    margin-bottom: 51px;
    margin-top: 0px;
}

.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}