@charset "UTF-8";

@font-face {
  font-family: 'wechat';
  src: url('{{public}}fonts/wechat.eot');
  src: url('{{public}}fonts/wechat.eot?#iefix') format('embedded-opentype'),
    url('{{public}}fonts/wechat.woff') format('woff'),
    url('{{public}}fonts/wechat.ttf') format('truetype'),
    url('{{public}}fonts/wechat.svg#wechat') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wechat {
  font-family: 'wechat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
}