<% content_for :title do %>
  <%= @content.title %>
<% end %>

<h2><%= @content.title %></h2>
<hr>
<div class="row">
  <div class="span8" id="description">
    <h3>
      <i class="icon-check"></i>
      活动描述
    </h3>
    <pre><%= @content.data %></pre>
    <% @content.content_medias.each do |m| %>
      <%= image_tag m.image.url %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
   <div class="span8" id="description">
    <h3>
      <i class="icon-check"></i>
      活动时间: 
    </h3>
    <p><%= "#{@content.event_info.start_time} - #{@content.event_info.end_time}" %></p>
    <h3>
      <i class="icon-check"></i>
    活动地点:
    </h3>
    <p><%= @content.event_info.adress %></p>
    <h3>
      <i class="icon-check"></i>
    位置:
    </h3>
    <p>一共位置 <%= @content.event_info.total_seat %> 还剩下 <%= @content.event_info.total_seat - @content.users.count %></p>
    <h3>
      <i class="icon-check"></i>
    地图：
    </h3>
    <p><%= image_tag @content.event_info.map_image.url %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <blockquote>
      <p>Molestiae corrupti delectus quis nostrum autem sed quia et reiciendis accusantium officia</p>
      <small>Paola McLaughlin</small>
    </blockquote>
  </div>
  <div class="span4">
    <blockquote>
      <p>Adipisci voluptas ex ut animi explicabo dolor nam</p>
      <small>Eliza Floyd</small>
    </blockquote>
  </div>
</div>
<div class="row">
  <div class="span4">
    <blockquote>
      <p>Necessitatibus sed quas blanditiis excepturi voluptatem autem qui</p>
      <small>Johnny Fox</small>
    </blockquote>
  </div>
  <div class="span4">
    <blockquote>
      <p>Amet est sunt labore</p>
      <small>Rogelio Barton</small>
    </blockquote>
  </div>
</div>
<hr>
<form class="form-inline">
  <h3>如需参加活动，请输入你的电子邮箱。</h3>
  <input placeholder="Enter your email address..." type="text">
  <button class="btn" type="submit">发送</button>
</form>
<hr>
<style type="text/css">
table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
td {
  border-width: 0; 
  border-style: none;
  border-color: #0000ff; 
  border-collapse: collapse; 
  padding: 0; 
  margin: 0; 
  width: 10px; 
  height: 10px; 
}
td.black { background-color: #000; }
td.white { background-color: #fff; }
</style>
<table style="margin: 0 auto;">
<% @qr.modules.each_index do |x| %>
  <tr>  
  <% @qr.modules.each_index do |y| %>
   <% if @qr.dark?(x,y) %>
    <td class="black"/>
   <% else %>
    <td class="white"/>
   <% end %>
  <% end %>
  </tr>
<% end %>
</table>
<!-- 
<hr>
<p id="social">
  <a href="#"><img alt="Follow us on Twitter" width="64" height="64" src="img/twitter.png" /></a>
  <a href="#"><img alt="Like us on Facebook" width="64" height="64" src="img/facebook.png" /></a>
  <a href="#"><img alt="Follow us on Google+" width="64" height="64" src="img/google-plus.png" /></a>
  <a href="#"><img alt="Read our blog" width="64" height="64" src="img/rss.png" /></a>
</p> -->
<hr>