<% if user_signed_in? %>
var currentUser = {
    name: '<%= current_user.name %>',
    company: '<%= current_user.company %>',
    email: '<%= current_user.email %>',
    phone: '<%= current_user.phone %>',
    role: '<%= current_user.role %>'
};
<% end %>