{{!

    // flash message

}}<div class="flash{{!
    }}{{#type}} flash-{{.}}{{/type}}{{!
    }}{{#hidden}} hidden{{/hidden}}{{!
    }}{{#cssClass}} {{.}}{{/cssClass}}"{{!
    }}{{#style}} style="{{.}}"{{/style}}{{!
    }}{{> id}}>{{!

    }}{{> items}}{{!

}}</div>