{{!

    // news search category list

}}{{#foreach items}}{{!
    }}<li class="list-item{{!
        }}{{#../ui}} list-{{.}}-item{{/../ui}}{{!
        }}" data-id="{{id}}">{{!

        }}<div class="icon pastille pastille-{{color}}">{{!
            }}&#128506;{{!
        }}</div>{{!

        }}{{name}}{{!
    }}</li>{{!
}}{{/foreach}}