{{!

    // news detail date

}}<table class="phone-compare ui-shadow table-stroke ui-table ui-table-columntoggle">{{!
    }}<tbody>{{!


    }}{{#if start_time}}{{!
        }}<tr>{{!
            }}<th class="label">{{t "Start"}}</th>{{!
            }}<td>{{start_time}}</td>{{!
        }}</tr>{{!
    }}{{/if}}{{!

    }}{{#if end_time}}{{!
        }}<tr>{{!
            }}<th class="label">{{t "End"}}</th>{{!
            }}<td>{{end_time}}</td>{{!
        }}</tr>{{!
    }}{{/if}}{{!

    }}{{#if total_seat}}{{!
        }}<tr>{{!
            }}<th class="label">{{t "Total seats"}}</th>{{!
            }}<td>{{total_seat}}</td>{{!
        }}</tr>{{!
    }}{{/if}}{{!

    }}{{#if available_seat}}{{!
        }}<tr>{{!
            }}<th class="label">{{t "Available seats"}}</th>{{!
            }}<td class="available_seat">{{available_seat}}</td>{{!
        }}</tr>{{!
    }}{{/if}}{{!


    }}</tbody>{{!
}}</table>