{{!

    // news search list

}}{{#foreach items}}{{!
    }}<li class="list-item ui-btn ui-li{{!
        }}{{#../ui}} ui-btn-up-{{.}}{{/../ui}}{{!
        }} ui-btn-icon-right ui-li-has-arrow{{!
        }}" data-id="{{id}}">{{!
        }}<div class="ui-btn-inner ui-li">{{!
            }}{{#category.color}}<div class="news-item-color news-item-{{.}}">&nbsp;</div>{{/category.color}}{{!

            }}<div class="ui-btn-text"><a class="ui-link-inherit">{{!

                }}{{#hasThumbnail content_medias}}{{!
                    }}<div class="news-image-thumb ul-li-thumb" style="background-image: {{!
                    }}url({{getThumbnail content_medias}});"></div>{{!
                }}{{/hasThumbnail}}{{!

                }}<h2 class="ui-li-heading news-list-title">{{wordwrap title 130}}</h2>{{!
                }}<p class="ui-li-desc">{{substr created_at 10}}</p>{{!

            }}</a></div>{{!

            }}{{#if_eq is_favorite compare=true default=false}}{{!
                }}<span class="icon news-item-favorite">&#9734;</span>{{!
            }}{{/if_eq}}{{!

            }}<span class="ui-icon ui-icon-shadow icon news-item-arrow">&#59234;</span>{{!

        }}</div>{{!
    }}</li>{{!
}}{{/foreach}}