{{!

    // news detail tpl

}}<div id="newsdetail-item" class="news-detail">{{!

    }}{{#if data}}{{!

        }}<p class="news-detail-title">{{data.title}}</p>{{!
        }}{{#hasImage data.content_medias}}{{!
            }}<div class="news-detail-medias-grid {{getImageGridType ../data.content_medias}}">{{!

            }}{{#foreach data.content_medias}}{{!
                }}<div class="news-detail-medias zoomable {{getImageRowType ../data.content_medias $index}}" style="background-image:{{!
                    }}url({{getImage ../data.content_medias $index}});" {{!
                    }}data-full-image={{getFullImage ../data.content_medias $index}}></div>{{!
            }}{{/foreach}}{{!

            }}</div>{{!
        }}{{/hasImage}}{{!
        }}<p class="news-detail-content">{{nl2br data.data}}</p>{{!

    }}{{/if}}{{!

}}</div>