{{!

    // news detail map

}}<table class="phone-compare ui-shadow table-stroke ui-table ui-table-columntoggle">{{!
    }}<tbody>{{!
        }}<tr>{{!
            }}<th class="label">{{t "Address"}}</th>{{!
            }}<td>{{adress}}</td>{{!
        }}</tr>{{!
    }}</tbody>{{!
}}</table>{{!

}}{{#hasMapImage medias}}{{!
    }}<div class="news-detail-map-image" style="background-image:{{!
        }}url({{getUrl medias}});">{{!
    }}</div>{{!
}}{{/hasMapImage}}