<form>
  <h2 class="form-title-row">Text fields</h2>
  <fieldset>
    <label class="form-row form-text-row">
      <!-- Note: there must be no whitespace between the <span> and the <input>. -->
      <span class="form-text-label">Subject:</span><input type="text" class="form-text-input" value="Hi">
      <!-- If you want the label to be black, use: <span class="form-text-label form-text-label-black"> -->
      <!-- If you want the label to be fixed-width, use: <span class="form-text-label width-20 (or 30, 40, 50)"> -->
    </label>
    <label class="form-row form-text-row">
      <textarea class="form-text-textarea" placeholder="Message…"></textarea>
    </label>
  </fieldset>

  <h2 class="form-title-row">Validation</h2>
  <fieldset>
    <label class="form-row form-text-row valid">
      <span class="form-text-label width-20">Email:</span><input type="email" class="form-text-input" value="valid@email">
      <span class="form-hint">Good job!</span>
    </label>
    <label class="form-row form-text-row invalid">
      <span class="form-text-label width-20">URL:</span><input type="url" class="form-text-input" value="invalid url">
      <span class="form-hint">Doesn't look like a URL.</span>
    </label>
  </fieldset>

  <div class="form-submit">
    <button type="submit" class="button button-green icon-check">Send</button>
    <button type="reset" class="button button-red icon-delete">Cancel</button>
  </div>
</form>