/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
*/

body {
  background: #f0f0f0 url('../assets/bg.png');
  font-family: 微软雅黑, helvetica, Arial;
}

.content {
  background: white url('../assets/circles.png') repeat-x top center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 60px 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

h1 {
  margin-bottom: 60px;
  text-align: center;
}

h2 {
  font-family: 微软雅黑, helvetica, Arial;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

form {
  padding: 10px;
  text-align: center;
  margin-bottom: 1em;
}
form h3 {
  margin-bottom: 0.6em;
}

input, button {
  font-family: 微软雅黑, helvetica, Arial;
}

footer, footer a, footer a:hover {
  color: #999999;
}

#features h3 {
  margin-top: 1.2em;
}
#features h3 i {
  margin-top: 3px;
}
#features h3:first-child {
  margin-top: 0;
}

p#appstore {
  margin-top: 2em;
}

#social {
  text-align: center;
}

@media (max-width: 767px) {
  .content {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  p#appstore {
    text-align: center;
  }

  img#iphone {
    display: block;
    margin: 0 auto 1em auto;
    height: 375px;
    width: 162px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  img#iphone {
    height: 375px;
    width: 162px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  img#iphone {
    height: 500px;
    width: 216px;
  }
}
@media (min-width: 1200px) {
  img#iphone {
    height: 625px;
    width: 270px;
  }
}