<h1>Listing pois</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pois.each do |poi| %>
  <tr>
    <td><%= poi.name %></td>
    <td><%= poi.address %></td>
    <td><%= poi.latitude %></td>
    <td><%= poi.longitude %></td>
    <td><%= poi.description %></td>
    <td><%= link_to 'Show', poi %></td>
    <td><%= link_to 'Edit', edit_poi_path(poi) %></td>
    <td><%= link_to 'Destroy', poi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poi', new_poi_path %>
