<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @poi.name %>
</p>

<p>
  <b>Address:</b>
  <%= @poi.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @poi.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @poi.longitude %>
</p>

<p>
  <b>Description:</b>
  <%= @poi.description %>
</p>


<%= link_to 'Edit', edit_poi_path(@poi) %> |
<%= link_to 'Back', pois_path %>
