<!doctype html>
<html<% if Rails.env.production? %> manifest="/cache.manifest"<% end %>>
<head>
  <title>意得捷优APP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="意得捷优APP">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="width">
  <meta name="format-detection" content="telephone=no" />
  <link rel="apple-touch-icon-precomposed" href="/assets/icons/Icon-72@2x.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/icons/Icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/icons/Icon-72.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/icons/Icon@2x.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/icons/Icon-72@2x.png">
  <link href="/assets/splash-iphone4.jpg" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
  <link href="/assets/splash-iphone5.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">


  <% if Rails.env.production? %>
  <link href="/assets/mobile.css" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/ios7.css" media="all" rel="stylesheet" type="text/css" disabled="disabled" id="ios7css">
  <% else %>
  <%= stylesheet_link_tag "mobile", :media => "all" %>
  <link href="/assets/mobile/ios7.css" media="all" rel="stylesheet" type="text/css" disabled="disabled" id="ios7css">
  <% end %>
</head>
<body>
  <% if Rails.env.production? %>
  <script type="text/javascript">
  <!--
  (function(){var a=window,b=a.applicationCache;a.addEventListener("load",function(c){b.addEventListener("updateready",function(d){if(b.status==b.UPDATEREADY){b.swapCache();a.location.reload()}},false)},false)})();
  (function() {

    var _nav = window.navigator;

    if (_nav && _nav.standalone === true &&
        _nav.userAgent.match(/(iPad|iPhone|iPod touch);.*CPU.*OS 7_\d/i) !== null) {
      document.getElementById('ios7css').removeAttribute('disabled');
    }

  }());
  //-->
  </script>
  <% else %>
  <script type="text/javascript">
  <!--
  (function() {

    var _nav = window.navigator;

    if (_nav && _nav.standalone === true &&
        _nav.userAgent.match(/(iPad|iPhone|iPod touch);.*CPU.*OS 7_\d/i) !== null) {
      document.getElementById('ios7css').removeAttribute('disabled');
    }

  }());
  // -->
  </script>
  <% end %>
  <script src="<%= root_url %>users/me.json?<%= (Time.now.to_f * 1000.0) %>" type="text/javascript"></script>
  <% if Rails.env.production? %>
  <script src="/assets/mobile.js" charset="utf-8" type="text/javascript"></script>
  <% else %>
  <%= javascript_include_tag "mobile", :charset => "utf-8" %>
  <% end %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=8d177402540bc09601c14f705a68c795&callback=baiduinit"></script>
</body>
</html>
